@import "./../../styles/global.scss";
.input {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: $colorFFFFFF;
    @include to_SmPhone {
      padding: 0 12px;
    }
  }
  &__icon {
    padding-right: 21.67px;
    @include to_SmPhone {
      padding-right: 10px;
    }
  }
  &__iconFirst {
    padding-left: 15px;
    @include to_SmPhone {
      padding-left: 10px;
    }
  }
  &__noneIcon {
    padding-right: 0;
  }
  input {
    width: 100%;
    height: 54px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color999999;
    outline: none;
    border: none;
    @include to_SmPhone {
      height: 44px;
      font-size: 12px;
    }
  }
  &__border {
    border: 1px solid $colorECECEC;
  }
  &__borderError {
    border: 1px solid $colorRed;
  }
}
