$font: 'Lato', sans-serif;
$colorFFFFFF: #ffffff;
$color000000: #000000;
$colorF3C34B: #f3c34b;
$color2E2E2E: #2e2e2e;
$colorGrey: rgb(233, 222, 222);
$colorF6FAFD: #f6fafd;
$colorF9B209: #f9b209;
$color1D1D20: #1d1d20;
$colorAFA696: #afa696;
$color0f78d9: #0f78d9;
$color43bdf1: #43bdf1;
$color056AD4: #056ad4;
$colorE5E5E5: #e5e5e5;
$color808080: #808080;
$colorCCCCCC: #cccccc;
$color076DD5: #076dd5;
$color0A3EF5: #0a3ef5;
$colorF6FAFD: #f6fafd;
$colorEEEEEE: #eeeeee;
$color666666: #666666;
$color0077B4: #0077b4;
$color3B5998: #3b5998;
$color0B72D8: #0b72d8;
$colorECECEC: #ececec;
$colorRed: red;
$colorECECEC: #ececec;
$color999999: #999999;
$color445A8F: #445a8f;
$color4279AC: #4279ac;
$color1E3354: #1e3354;
$color151212: #151212;
$colorECECEC: #ececec;
$colorF0F0F0: #f0f0f0;
$color076DD5: #076dd5;
$colorC6C6C6: #c6c6c6;
$color333333: #333333;
$color438AFE: #438afe;
$color464E5F: #464e5f;
$colorEEF0F4: #eef0f4;
$color4AB58E: #4ab58e;
$colorFFA800: #ffa800;
$colorFFF4DE: #fff4de;
$color04AA77: #04aa77;
$colorD3D7DB: #d3d7db;
$color04B800: #04b800;
$color176BFB: #176bfb;
$color9CBBFF: #9cbbff;
$color004DFF: #004dff;
$colorFC9D00: #fc9d00;
$colorEA3838: #ea3838;
$colorE24343: #e24343;
$colorE5F0FB: #e5f0fb;
$colorACBBCC: #acbbcc;
$colorADA7A7: #ada7a7;
$colorF9F8FE: #f9f8fe;
$colorE5E5E5: #e5e5e5;
$color0368d4: #0368d4;
$color3db5ee: #3db5ee;
$colorF5FAFD: #f5fafd;
$color0a72d8: #0a72d8;
$color34a9ea: #34a9ea;
$colorf3c34b: #f3c34b;
$colordcdfe1: #dcdfe1;
$colorFF6464: #ff6464;
$color949494: #949494;
$colorff0366: #ff0366;
$color076dd5: #076dd5;
$colorEFF1F5: #eff1f5;
$color464e5f: #464e5f;
$color464e5f: #464e5f;
$coloredeef0: #edeef0;
$color464e5f: #464e5f;
$colorbbcffb: #bbcffb;
$color3e78fd: #3e78fd;
$colorf9f8fe: #f9f8fe;
$colorffdf00: #ffdf00;
$colorEDEEF0: #edeef0;
$colorf5f5f5: #f5f5f5;
$color333: #333;
$color5d5fef: #5d5fef;
$colorf1f2ff: #f1f2ff;
$color555555: #555555;
$color333333: #333333;
$color585858: #585858;
