.range {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.chart {
  &__heart {
    color: red !important;
    cursor: pointer;
    font-size: 1.75rem;
  }
}
.coins {
  margin: 20px;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h3 {
      margin-top: 10px;
    }
  }
}
