.container {
  margin: 20px;
  &__item {
    margin-bottom: 20px;
    &__submit {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      &__generate {
        color: #fff;
        padding: 5px 15px;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        border-color: #1890ff;
        background: #1890ff;
        // text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
        // box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
      }
      div {
        margin: 0 10px 10px 0;
      }
    }
  }
  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.table {
  border: 1px solid rgb(228, 215, 215);
}
